.essentials {
  position: absolute;
  right: 0;
  height: 100%;
  width: 30%;
  background-color: #ffffff;
  color: #666666;
  padding: 125px 50px 0;
}

.ul-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-item {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

.li-item.li-item-head {
  text-transform: uppercase;
}

.s-item {
  font-size: 14px;
}

.li-item-head .s-item {
  font-size: 17px;
}

.s-icon {
  display: inline-block;
  width: 35px;
}

@media screen and (max-width: 900px) {
  .essentials {
    position: relative;
    height: auto;
    width: 100%;
    clear: left;
    padding: 50px;
  }
}
