.footer {
  width: 100%;
  background-color: #2F2F2F;
  color: #ffffff;
  padding: 50px;
}

.footer-box {
  width: 100%;
  word-wrap: break-word;
}

.big-text {
  font-size: 2em;
  margin: 0;
}

.footer-tag {
  margin: 10px 15px 10px 0;
}

.footer-tag:after {
  content: ",";
}
