.k-container-wrap {
  background-color: #F2F2F2
}

.k-container {
  width: 50%;
  float: left;
  padding: 50px;
  color: #666666;
}

.k-container h5 {
  text-align: center;
}

.k-container:nth-child(odd) {
  border-right: 1px solid #dddddd;
}

.labels-list {
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
  padding: 0;
}

.label-item {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;

}

.label-item-text {
  color: #1E355E;
  font-weight: bold;
}

.inner-label-item {
  list-style: none;
  float: right;
}

.inner-labels-list .labels-list li:last-child {
  border-bottom: 0;
}

@media screen and (max-width: 900px) {
  .k-container {
    width: 100%;
  }
}
