.j-container {
  width: 100%;
  background-color: #1E355E;
  color: #ffffff;
  position: relative;
  padding: 30px;
}

.j-sub-container {
  width: 33.33%;
  padding: 20px;
  float: left;
}

.j-sub-container h5 {
  text-align: center;
  border-bottom: 1px dashed #ffffff;
  padding-bottom: 10px;
}

.j-list-item {
  padding: 10px 0;
  font-size: 13px;
}

.j-item-head {
  float: left;
  border-bottom: 1px dashed #ffffff;
  width: 65%;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 2px;
}

.j-list {
  list-style: none;
}

.j-item {
  float: right;
  width: 35%;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .j-sub-container {
    width: 100%;
    clear: both;
  }
}
