.head-container {
  position: relative;
  background-color: #61C5F5;
  width: 100%;
}

.banner {
  width: 50%;
  float: left;
  font-size: 110%;
  display: block;
  padding: 50px;
}

.title {
  line-height: 1em;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 6em;
  text-shadow: rgba(0, 0, 0, .1) 0px 1px 3px;
}

.sub-title {
  font-size: 5em;
  text-shadow: rgba(0, 0, 0, .1) 0px 1px 3px;
}

@media screen and (max-width: 900px) {
  .banner {
    width: 100%;
    word-wrap: break-word;
  }

  .title {
    font-size: 2em;
  }

  .sub-title {
    font-size: 1.5em;
  }
}
