.b-container {
  width: 100%;
  background-color: #ffffff;
  color: #666666;
  clear: left;
  padding: 50px;
}

.b-container h5 {
  text-align: center;
  padding-bottom: 20px;
}

.bonus-list {
  width: 360px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.bonus-item {
  border-bottom: 1px dotted #666666;
}

.b-key, .b-value {
  text-transform: uppercase;
}

.b-value {
  float: right;
}

.b-key {
  display: inline-block;
  width: 250px;
}

@media screen and (max-width: 900px) {
  .bonus-list {
    width: 100%;
  }

  .bonus-item {
    padding: 10px 0;
  }
}
