.m-container {
  clear: both;
  background: transparent;
}

.img-roll {
  float: left;
  width: 40%;
  background-size: cover;
  background-image: url('./construction.jpeg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 292px;
  position: relative;
}

.lightbox {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  z-index: 1;
}

.c-box {
  float: right;
  width: 60%;
  height: 292px;
  overflow: auto;
  padding: 30px;
  background-color: #F2F2F2;
}

.s-tag {
  padding: 10px;
  background-color: #ffffff;
  color: #666666;
  font-size: 12px;
  float: left;
  text-transform: uppercase;
  margin: 10px;
}

.s-tag:before {
  content: "#";
}

@media screen and (max-width: 900px) {
  .img-roll {
    width: 100%;
  }

  .c-box {
    width: 100%;
    height: auto;
  }
}
